# Created by .ignore support plugin (hsz.mobi)
/TestResults
/packages
/appium/bin
/appium/bin/Debug
/appium/obj
/appium/obj/Debug
/appium/Properties
/appium/NewAndroidDriver.cs
/appium/NewAndroidDriver.cs
/appium/NewIOSDriver.cs